.HomeHero_Hero__3wrDw {
	position: relative
}

.HomeHero_HeroContent__3rmRu {
	position: relative;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

@media (min-width:769px) {
	.HomeHero_HeroContent__3rmRu {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		min-height: 380px;
		max-height: 540px;
		height: calc(100vh - 60px - 300px - 16rem)
	}
}

.HomeHero_HeroCopy__T4ekE {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 4rem;
	text-align: center
}

@media (min-width:769px) {
	.HomeHero_HeroCopy__T4ekE {
		padding-top: 8rem
	}
}

.HomeHero_HeroButtons__1FWkk {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

.HomeHero_HeroButtons__1FWkk>:nth-child(2) {
	margin-bottom: 1.2rem
}

@media (min-width:769px) {
	.HomeHero_HeroButtons__1FWkk {
		display: grid;
		grid-gap: 2rem;
		margin: auto;
		grid-template-columns: repeat(2, 1fr)
	}
	.HomeHero_HeroButtons__1FWkk>:nth-child(2) {
		margin-bottom: 0
	}
}

.HomeHero_HeroTitle__1VI22 {
	font-size: 4.4rem;
	font-weight: 900;
	line-height: 5.2rem;
	margin-bottom: 2.8rem
}

@media (min-width:40em) {
	.HomeHero_HeroTitle__1VI22 {
		font-size: 6.4rem;
		line-height: 7.6rem
	}
}

@media (min-height:920px) {
	.HomeHero_HeroTitle__1VI22 {
		margin-bottom: 4.2rem
	}
}

.HomeHero_HeroBody__wLuWP {
	font-size: 2rem;
	font-weight: 900;
	line-height: 2.8rem;
	font-weight: 500;
	margin: auto auto 4rem
}

@media (min-width:40em) {
	.HomeHero_HeroBody__wLuWP {
		font-size: 2.4rem;
		line-height: 3.2rem
	}
}

@media (min-height:920px) {
	.HomeHero_HeroBody__wLuWP {
		margin-bottom: 6rem
	}
}

.HomeHero_Ticks__1vOc- {
	margin: 2rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%
}

@media (min-width:769px) {
	.HomeHero_Ticks__1vOc- {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-top: 2rem
	}
}

.HomeHero_NewBadge__1NWEa {
	margin-bottom: 4.8rem
}

@media (min-height:920px) {
	.HomeHero_NewBadge__1NWEa {
		margin-bottom: 9.6rem
	}
}

.Section_Section__rptU8 {
	padding: 0 3rem
}

@media (min-width:769px) {
	.Section_Section__rptU8 {
		padding: 0
	}
	.Section_SectionInner__2e34E {
		width: 100%;
		margin: auto;
		max-width: 112rem;
		padding: 0 4rem
	}
	.Section_narrow__1fP2D .Section_SectionInner__2e34E {
		max-width: 82rem;
		padding: 0 4rem
	}
	.Section_wide__2ZMp_ .Section_SectionInner__2e34E {
		max-width: 132rem;
		padding: 0 4rem
	}
	.Section_prose__1Whr5 .Section_SectionInner__2e34E {
		max-width: 68rem;
		padding: 0 4rem
	}
}

.Section_spacingTopBase__1p_JK {
	padding-top: 4rem
}

@media (min-width:769px) {
	.Section_spacingTopBase__1p_JK {
		padding-top: 8rem
	}
}

.Section_spacingBottomBase__LkyAC {
	padding-bottom: 4rem
}

@media (min-width:769px) {
	.Section_spacingBottomBase__LkyAC {
		padding-bottom: 8rem
	}
}

.Section_spacingTopTight__2z2aD {
	padding-top: 2rem
}

@media (min-width:769px) {
	.Section_spacingTopTight__2z2aD {
		padding-top: 4rem
	}
}

.Section_spacingBottomTight__1NRpD {
	padding-bottom: 2rem
}

@media (min-width:769px) {
	.Section_spacingBottomTight__1NRpD {
		padding-bottom: 4rem
	}
}

.Section_spacingTopLooser__1WmcF {
	padding-top: 6rem
}

@media (min-width:769px) {
	.Section_spacingTopLooser__1WmcF {
		padding-top: 12rem
	}
}

.Section_spacingBottomLooser__1jVdj {
	padding-bottom: 6rem
}

@media (min-width:769px) {
	.Section_spacingBottomLooser__1jVdj {
		padding-bottom: 12rem
	}
}

.Section_spacingTopExtraLoose__2Oei5 {
	padding-top: 8rem
}

@media (min-width:769px) {
	.Section_spacingTopExtraLoose__2Oei5 {
		padding-top: 16rem
	}
}

.Section_spacingBottomExtraLoose__38Ga6 {
	padding-bottom: 8rem
}

@media (min-width:769px) {
	.Section_spacingBottomExtraLoose__38Ga6 {
		padding-bottom: 16rem
	}
}

.Section_fullBleedMobile__1hKn2 {
	padding-left: 0;
	padding-right: 0
}

.Section_bgBlack__Sr6yv {
	background: #171313;
	color: #fff
}

.Section_bgBlack__Sr6yv a {
	color: #fff
}

.Section_bgPeach__wzB6a {
	background: #ffe9e2
}

.Section_bgSky__1akZO {
	background: #f9fafb
}

.Faces_Faces__2lVB7 {
	position: relative;
	padding-top: 12rem;
	padding-bottom: 8rem
}

@media (min-width:769px) {
	.Faces_Faces__2lVB7 {
		padding-bottom: 16rem
	}
}

.Faces_FacesInner__2oVb_ {
	position: relative
}

.Faces_Background__2BMGL {
	position: absolute;
	width: calc(90%);
	margin-left: 5%;
	display: grid;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-template-columns: repeat(7, 100px);
	gap: 10px 10px;
	margin-top: 2rem;
	grid-auto-rows: calc(130px - 28.87px / 2);
	left: 0;
	right: 0;
	top: -80px;
	bottom: 0;
	z-index: 1
}

@media (min-height:920px) {
	.Faces_Background__2BMGL {
		grid-auto-rows: calc(150px - 28.87px / 2)
	}
}

.Faces_Face__HdCQ0 {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
	font-weight: 900;
	position: relative;
	z-index: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

@media (min-width:40em) {
	.Faces_Face__HdCQ0 {
		font-size: 1.4rem;
		line-height: 2rem
	}
}

.Faces_Face__HdCQ0 .Faces_FaceInner__2nnFR {
	background-size: cover;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #171313;
	opacity: 0;
	-webkit-animation: Faces_fadeup__2OBc0 1s ease-out forwards;
	animation: Faces_fadeup__2OBc0 1s ease-out forwards
}

.Faces_Face__HdCQ0.Faces_withImg__3DSBT .Faces_FaceInner__2nnFR:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: 1;
	background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(23, 19, 19, .26)), to(rgba(23, 19, 19, 0))) repeat scroll 0 0;
	background: transparent linear-gradient(rgba(23, 19, 19, .26), rgba(23, 19, 19, 0)) repeat scroll 0 0
}

.Faces_Face__HdCQ0:nth-child(7n+1) {
	grid-column-start: 1
}

.Faces_Face__HdCQ0:nth-child(7n+1) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}

.Faces_Face__HdCQ0:nth-child(7n+2) {
	grid-column-start: 3
}

.Faces_Face__HdCQ0:nth-child(7n+2) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}

.Faces_Face__HdCQ0:nth-child(7n+3) {
	grid-column-start: 5
}

.Faces_Face__HdCQ0:nth-child(7n+3) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}

.Faces_Face__HdCQ0:nth-child(7n+4) {
	grid-column-start: 7
}

.Faces_Face__HdCQ0:nth-child(7n+4) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}

.Faces_Face__HdCQ0:nth-child(7n+5) {
	grid-column-start: 2
}

.Faces_Face__HdCQ0:nth-child(7n+5) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.Faces_Face__HdCQ0:nth-child(7n+6) {
	grid-column-start: 4
}

.Faces_Face__HdCQ0:nth-child(7n+6) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}

.Faces_Face__HdCQ0:nth-child(7n+7) {
	grid-column-start: 6
}

.Faces_Face__HdCQ0:nth-child(7n+7) .Faces_FaceInner__2nnFR {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s
}

.Faces_Screenshot__3MeUk {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 112rem;
	margin: auto;
	padding: 0 3rem
}

@media (min-width:769px) {
	.Faces_Screenshot__3MeUk {
		padding: 0 4rem
	}
}

@media (min-width:1320px) {
	.Faces_Screenshot__3MeUk {
		max-width: 128rem;
		margin: auto
	}
}

.Faces_ScreenshotInner__156uG {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 20px 40px 10px rgba(0, 0, 0, .1), 0 20px 20px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 20px 40px 10px rgba(0, 0, 0, .1), 0 20px 20px 0 rgba(0, 0, 0, .05);
	opacity: 0
}

.Faces_ScreenshotInner__156uG.Faces_visible__2WvRN {
	-webkit-transition: opacity .8s ease-out;
	transition: opacity .8s ease-out;
	opacity: 1
}

@media (min-width:769px) {
	.Faces_ScreenshotInner__156uG {
		border-radius: 12px
	}
}

.Faces_DirectoryTrack__o-iVb {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 77.5%;
	height: 82.5%;
	border-top: 1px solid #eee;
	overflow: hidden;
	border-bottom-right-radius: 12px;
	z-index: 1
}

@-webkit-keyframes Faces_fadeup__2OBc0 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes Faces_fadeup__2OBc0 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.index_Quotes__3RZhj {
	z-index: 5
}

.QuoteCards_FeatureGrid__3Q74b {
	display: grid;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-gap: 2rem;
	grid-template-columns: repeat(1, 1fr)
}

@media (min-width:769px) {
	.QuoteCards_FeatureGrid__3Q74b {
		grid-template-columns: repeat(3, 1fr)
	}
}

.QuoteCards_Card__1RNyv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: auto;
	padding: 2.8rem 2.6rem 2.8rem 2.8rem;
	background: #fff;
	border-radius: 20px;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.QuoteCards_Logo__1N279 {
	height: 48px;
	margin-bottom: 2.8rem
}

.QuoteCards_Logo__1N279 img {
	height: 100%;
	width: auto
}

.QuoteCards_Quote__3-zpn {
	font-size: 2rem;
	font-weight: 900;
	line-height: 2.8rem;
	margin-bottom: 1.2rem
}

@media (min-width:40em) {
	.QuoteCards_Quote__3-zpn {
		font-size: 2.4rem;
		line-height: 3.2rem
	}
}

.QuoteCards_smallQuote__3zhH4 {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem
}

@media (min-width:40em) {
	.QuoteCards_smallQuote__3zhH4 {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.QuoteCards_Description__2xJxJ {
	margin-bottom: 4rem
}

@media (min-width:769px) {
	.QuoteCards_Description__2xJxJ {
		display: inline-block
	}
}

.QuoteCards_Author__3bqTz {
	display: grid;
	grid-gap: 1.2rem;
	grid-template-columns: auto 1fr
}

.QuoteCards_Photos__3R82i {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: .8rem;
	padding-left: 16px
}

.QuoteCards_Photo__RqhnQ {
	background: #ffe9e2;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin-left: -16px;
	position: relative;
	overflow: hidden
}

.Title_center__3sFtN {
	text-align: center;
	margin-left: auto;
	margin-right: auto
}

.Title_sizeLarge__3MLH1 {
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 1.1
}

@media (min-width:40em) {
	.Title_sizeLarge__3MLH1 {
		font-size: 4.8rem;
		line-height: 1.1
	}
}

.Title_sizeMedium__rVYOT {
	font-size: 2.4rem;
	font-weight: 900;
	line-height: 1.25
}

@media (min-width:40em) {
	.Title_sizeMedium__rVYOT {
		font-size: 2.8rem;
		line-height: 1.3
	}
}

.Title_crushed__1WWzm {
	line-height: 1.05
}

@media (min-width:769px) {
	.Title_crushed__1WWzm {
		line-height: 1;
		letter-spacing: -1px
	}
}

.Title_PreTitle__2e_Yb {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	text-transform: uppercase;
	margin-bottom: .8rem
}

@media (min-width:40em) {
	.Title_PreTitle__2e_Yb {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.FeatureHeroImage_FeatureHeroImage__u-zR9 {
	position: relative;
	width: 100%;
	margin: auto;
	opacity: 0;
	-webkit-transform: translateY(60px);
	transform: translateY(60px)
}

.FeatureHeroImage_FeatureHeroImage__u-zR9.FeatureHeroImage_visible__2e8gU {
	-webkit-transition: opacity 3s cubic-bezier(.19, 1, .22, 1), -webkit-transform 3s cubic-bezier(.19, 1, .22, 1);
	transition: opacity 3s cubic-bezier(.19, 1, .22, 1), -webkit-transform 3s cubic-bezier(.19, 1, .22, 1);
	transition: opacity 3s cubic-bezier(.19, 1, .22, 1), transform 3s cubic-bezier(.19, 1, .22, 1);
	transition: opacity 3s cubic-bezier(.19, 1, .22, 1), transform 3s cubic-bezier(.19, 1, .22, 1), -webkit-transform 3s cubic-bezier(.19, 1, .22, 1);
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

@media (min-width:769px) {
	.FeatureHeroImage_FeatureHeroImage__u-zR9 {
		width: 100%
	}
}

@media (min-width:1320px) {
	.FeatureHeroImage_FeatureHeroImage__u-zR9 {
		width: 80%
	}
}

@media (min-width:1400px) {
	.FeatureHeroImage_FeatureHeroImage__u-zR9 {
		width: 88%
	}
}

@media (min-width:1640px) {
	.FeatureHeroImage_FeatureHeroImage__u-zR9 {
		width: 100%
	}
}

.FeatureHeroImage_FeatureHeroImageInner__22YFW {
	position: relative;
	-webkit-box-shadow: 0 15px 40px 0 rgba(23, 19, 19, .2);
	box-shadow: 0 15px 40px 0 rgba(23, 19, 19, .2)
}

@media (min-width:769px) {
	.FeatureHeroImage_FeatureHeroImageInner__22YFW {
		border-radius: 12px;
		margin-bottom: 12rem
	}
	.FeatureHeroImage_FeatureHeroImageInner__22YFW picture img {
		border-radius: 12px;
		overflow: hidden
	}
}

.Arrow_Arrows__11yT5 {
	display: none
}

@media (min-width:1320px) {
	.Arrow_Arrows__11yT5 {
		display: block
	}
}

.Arrow_Arrow__2pKWz {
	position: absolute;
	color: #171313
}

.Arrow_Arrow__2pKWz .Arrow_ArrowInner__32zNc {
	position: absolute;
	top: 0;
	left: 0
}

.Arrow_Arrow__2pKWz .Arrow_ArrowCopy__1MPEb {
	position: absolute;
	display: block;
	text-align: center;
	font-family: Nanum Pen Script, sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2
}

@media (min-width:1640px) {
	.Arrow_Arrow__2pKWz .Arrow_ArrowCopy__1MPEb {
		font-size: 28px
	}
}

.Arrow_Arrow__2pKWz .Arrow_ArrowIllustration__2VL1c {
	position: absolute;
	width: 140px;
	pointer-events: none
}

.Arrow_Arrow__2pKWz .Arrow_ArrowIllustration__2VL1c svg {
	width: 100%;
	height: 1px;
	overflow: visible
}

.Arrow_Arrow1__8e7Yz {
	top: 0;
	left: 0;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

@media (min-width:1320px) {
	.Arrow_Arrow1__8e7Yz {
		-webkit-transform: translateX(-100%) scale(.8);
		transform: translateX(-100%) scale(.8)
	}
}

@media (min-width:1400px) {
	.Arrow_Arrow1__8e7Yz {
		-webkit-transform: translateX(-100%) scale(.88);
		transform: translateX(-100%) scale(.88)
	}
}

@media (min-width:1640px) {
	.Arrow_Arrow1__8e7Yz {
		-webkit-transform: translateX(-100%) scale(1);
		transform: translateX(-100%) scale(1)
	}
}

.Arrow_Arrow1__8e7Yz .Arrow_ArrowCopy__1MPEb {
	width: 220px;
	top: 0;
	right: 50px
}

.Arrow_Arrow1__8e7Yz .Arrow_ArrowIllustration__2VL1c {
	top: 40px;
	right: 20px
}

.Arrow_Arrow2__2a6r_ {
	top: 0;
	right: 0;
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

@media (min-width:1320px) {
	.Arrow_Arrow2__2a6r_ {
		-webkit-transform: translateX(100%) scale(.8);
		transform: translateX(100%) scale(.8)
	}
}

@media (min-width:1400px) {
	.Arrow_Arrow2__2a6r_ {
		-webkit-transform: translateX(100%) scale(.88);
		transform: translateX(100%) scale(.88)
	}
}

@media (min-width:1640px) {
	.Arrow_Arrow2__2a6r_ {
		-webkit-transform: translateX(100%) scale(1);
		transform: translateX(100%) scale(1)
	}
}

.Arrow_Arrow2__2a6r_ .Arrow_ArrowCopy__1MPEb {
	width: 220px;
	top: 300px;
	left: 50px
}

.Arrow_Arrow2__2a6r_ .Arrow_ArrowIllustration__2VL1c {
	top: 250px;
	left: -70px
}

.Arrow_Arrow3__3bnCj {
	bottom: 0;
	left: 0;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

@media (min-width:1320px) {
	.Arrow_Arrow3__3bnCj {
		-webkit-transform: translateX(0) scale(.8);
		transform: translateX(0) scale(.8)
	}
}

@media (min-width:1400px) {
	.Arrow_Arrow3__3bnCj {
		-webkit-transform: translateX(0) scale(.88);
		transform: translateX(0) scale(.88)
	}
}

@media (min-width:1640px) {
	.Arrow_Arrow3__3bnCj {
		-webkit-transform: translateX(0) scale(1);
		transform: translateX(0) scale(1)
	}
}

.Arrow_Arrow3__3bnCj .Arrow_ArrowCopy__1MPEb {
	width: 220px;
	top: 80px;
	left: 250px
}

.Arrow_Arrow3__3bnCj .Arrow_ArrowIllustration__2VL1c {
	top: -50px;
	left: 350px
}

.Arrow_style4__19k4b .Arrow_ArrowIllustration__2VL1c {
	-webkit-transform: scale(.5);
	transform: scale(.5)
}

.PressQuote_PressQuote__K-Gyd {
	display: grid;
	grid-gap: 4rem
}

@media (min-width:769px) {
	.PressQuote_PressQuote__K-Gyd {
		grid-template-columns: 1fr 1.4fr
	}
}

.PressQuote_PressPre__3Hb5Y {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	margin-bottom: 1.2rem
}

@media (min-width:40em) {
	.PressQuote_PressPre__3Hb5Y {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.PressQuote_PressLogo__3toOX {
	width: 180px
}

@media (min-width:769px) {
	.PressQuote_PressLogo__3toOX {
		width: 200px
	}
}

.PressQuote_QuoteText__1DAfR {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	margin-bottom: .8rem
}

@media (min-width:40em) {
	.PressQuote_QuoteText__1DAfR {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.HomeFeatureBlock_HomeFeatureBlock__KE7aO {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: -2rem
}

.HomeFeatureBlock_HomeFeatureBlock__KE7aO.HomeFeatureBlock_last__33_Yt {
	margin-bottom: 0
}

@media (min-width:769px) {
	.HomeFeatureBlock_HomeFeatureBlock__KE7aO {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 8rem;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.HomeFeatureBlock_HomeFeatureBlock__KE7aO.HomeFeatureBlock_last__33_Yt {
		margin-bottom: 4rem
	}
	.HomeFeatureBlock_HomeFeatureBlock__KE7aO.HomeFeatureBlock_flipped__3btrk {
		grid-auto-flow: column
	}
}

@media (min-width:769px) {
	.HomeFeatureBlock_HomeFeatureBlock__KE7aO.HomeFeatureBlock_flipped__3btrk>:first-child {
		grid-column-end: -1
	}
}

@media (min-width:769px) {
	.HomeFeatureBlock_FeatureText__pJRnN {
		padding-right: 8rem
	}
	.HomeFeatureBlock_flipped__3btrk .HomeFeatureBlock_FeatureText__pJRnN {
		padding-right: 0;
		padding-left: 8rem
	}
}

.HomeFeatureBlock_FeatureTitle__14L5p {
	font-size: 2.4rem;
	font-weight: 900;
	line-height: 1.25;
	margin-bottom: 1.2rem
}

@media (min-width:40em) {
	.HomeFeatureBlock_FeatureTitle__14L5p {
		font-size: 2.8rem
	}
}

.HomeFeatureBlock_FeatureDescription__L2581 {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	font-weight: 500;
	margin-bottom: .8rem
}

@media (min-width:40em) {
	.HomeFeatureBlock_FeatureDescription__L2581 {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.HomeFeatureBlock_FeatureLink__3Xw20 {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	font-weight: 500;
	display: block;
	margin-bottom: .8rem
}

@media (min-width:40em) {
	.HomeFeatureBlock_FeatureLink__3Xw20 {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

@media (min-width:769px) {
	.HomeFeatureBlock_FeatureLink__3Xw20 {
		margin-bottom: 4rem
	}
}

.HomeFeatureBlock_FeatureList__b0gmQ {
	margin-bottom: 0;
	padding-left: 16px
}

.HomeFeatureBlock_FeatureItem__3BT2g {
	margin-bottom: 1.2rem
}

.HomeFeatureBlock_FeatureImage__1ZHmg {
	margin: 2rem -3rem
}

@media (min-width:769px) {
	.HomeFeatureBlock_FeatureImage__1ZHmg {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		min-width: 0;
		margin: 0
	}
}

.Frame_Frame__2aa2J {
	width: 100%;
	background: #ffe9e2;
	padding: 2rem 3rem
}

@media (min-width:769px) {
	.Frame_Frame__2aa2J {
		padding: 4rem;
		border-radius: 12px
	}
}

.Frame_Frame__2aa2J picture img {
	border-radius: 8px;
	overflow: hidden
}

.Roles_Roles__1mb0q {
	display: grid;
	grid-gap: 6rem;
	margin-top: 6rem
}

@media (min-width:769px) {
	.Roles_Roles__1mb0q {
		grid-gap: 4rem;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 10rem
	}
}

.Roles_Roles__1mb0q .Roles_Role__10ejJ {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.Roles_Roles__1mb0q .Roles_Role__10ejJ p {
	margin: auto;
	max-width: 280px
}

@media (min-width:769px) {
	.Roles_Roles__1mb0q .Roles_Role__10ejJ p {
		max-width: auto
	}
}

.Roles_Roles__1mb0q .Roles_RoleIllustration__xFtNz {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 3rem
}

@media (min-width:769px) {
	.Roles_Roles__1mb0q .Roles_RoleIllustration__xFtNz {
		margin-bottom: 4rem
	}
}

.IntegrationsLink_IntegrationsLink__19QEs {
	position: relative
}

.IntegrationsLink_Link__2qvbP {
	margin-top: 4rem
}

.IntegrationsLink_Logos__2RKp4 {
	position: relative;
	-webkit-transform: scale(.8) translate(-40px);
	transform: scale(.8) translate(-40px);
	display: grid;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-template-columns: repeat(4, 120px);
	gap: 10px;
	grid-auto-rows: calc(80px - 28.87px / 2);
	margin-bottom: 2rem;
	margin-top: -4rem
}

@media (min-width:769px) {
	.IntegrationsLink_Logos__2RKp4 {
		position: absolute;
		top: -40px;
		right: -120px;
		-webkit-transform: scale(1);
		transform: scale(1);
		grid-auto-rows: calc(100px - 28.87px / 2);
		margin-top: 2rem
	}
}

.IntegrationsLink_Logo__21uta {
	opacity: 0;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transform-origin: center;
	transform-origin: center
}

.inView .IntegrationsLink_Logo__21uta {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.IntegrationsLink_Image__38Fus {
	border-radius: 50%;
	background: #fff;
	padding: 8px;
	width: 64px;
	height: 64px;
	overflow: hidden
}

.IntegrationsLink_Image__38Fus img {
	width: 100%;
	height: auto
}

.IntegrationsLink_CultureAmp__3eGeL {
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
	grid-column-start: 2
}

.IntegrationsLink_CultureAmp__3eGeL .IntegrationsLink_Image__38Fus {
	width: 64px;
	height: 64px;
	padding: 8px
}

@media (min-width:769px) {
	.IntegrationsLink_CultureAmp__3eGeL .IntegrationsLink_Image__38Fus {
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px)
	}
}

.IntegrationsLink_Calendar__1VdeZ {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
	grid-column-start: 4
}

.IntegrationsLink_Calendar__1VdeZ .IntegrationsLink_Image__38Fus {
	padding: 14px;
	-webkit-transform: translate(-40px);
	transform: translate(-40px)
}

@media (min-width:769px) {
	.IntegrationsLink_Calendar__1VdeZ .IntegrationsLink_Image__38Fus {
		-webkit-transform: translate(0);
		transform: translate(0)
	}
}

.IntegrationsLink_Zapier__ppjap {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	grid-column-start: 1
}

.IntegrationsLink_Zapier__ppjap .IntegrationsLink_Image__38Fus {
	padding: 12px;
	-webkit-transform: translate(10px, 20px);
	transform: translate(10px, 20px)
}

.IntegrationsLink_Slack__3uLjw {
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
	grid-column-start: 3
}

.IntegrationsLink_Slack__3uLjw .IntegrationsLink_Image__38Fus {
	width: 110px;
	height: 110px;
	padding: 28px;
	-webkit-transform: translate(-20px, -20px);
	transform: translate(-20px, -20px)
}

.IntegrationsLink_Google__1qpV1 {
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
	grid-column-start: 4
}

.IntegrationsLink_Google__1qpV1 .IntegrationsLink_Image__38Fus {
	width: 80px;
	height: 80px
}

@media (min-width:769px) {
	.IntegrationsLink_Google__1qpV1 .IntegrationsLink_Image__38Fus {
		-webkit-transform: translate(40px);
		transform: translate(40px)
	}
}

.IntegrationsLink_DocuSign__Bat21 {
	-webkit-transition-delay: .6s;
	transition-delay: .6s;
	grid-column-start: 2
}

.IntegrationsLink_DocuSign__Bat21 .IntegrationsLink_Image__38Fus {
	width: 80px;
	height: 80px;
	padding: 12px;
	background: #024ba7;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px)
}

.ProductSummary_ProductSummary__136tt {
	display: grid;
	grid-gap: 4rem
}

@media (min-width:769px) {
	.ProductSummary_ProductSummary__136tt {
		grid-template-columns: 1fr 1.4fr
	}
}

.ProductSummary_ProductSummary__136tt p {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	font-weight: 400;
	margin-top: 4px;
	margin-bottom: 2rem
}

@media (min-width:40em) {
	.ProductSummary_ProductSummary__136tt p {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

.ProductSummary_ProductSummary__136tt a {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 2.4rem;
	display: block;
	margin-top: 2rem;
	color: #fff;
	text-decoration: underline
}

@media (min-width:40em) {
	.ProductSummary_ProductSummary__136tt a {
		font-size: 2rem;
		line-height: 2.8rem
	}
}

@media (min-width:769px) {
	a.ProductSummary_mobile__3uWow {
		display: none
	}
}

@media (max-width:768px) {
	a.ProductSummary_desktop__2XZlk {
		display: none
	}
}